body{
  background-color: #0bf4d9;
  color:#fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button{
  padding: 5px 20px;
  background-color: bisque;
  border-style: groove;
 color: #f409c1;
}

input{
  height: 25px;
}